* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #7e40f6;
  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1rem 0;
  width: 100%;
  box-shadow: 0px 3px 10px black;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-head > img {
  width: 3rem;
  margin: 1rem;
}

.card-head > h1 {
  color: white;
}

/* Card Content */

table {
  border-collapse: collapse;
  margin: 1rem auto;
  /* background-color: red; */
}

tr {
  border-bottom: 2px solid whitesmoke;
}

td,
th {
  padding: 1rem 0.5rem;
  max-width: 5rem;
}

.task-td {
  max-width: 8rem;
  word-wrap: break-word;
}

.priority-td {
  display: flex;
}

.timer-text {
  text-align: center;
}

.time-up {
  color: white;
}

.action-icon {
  margin: 0 0.5rem;
  font-size: large;
  cursor: pointer;
}

.add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.inputBoxes {
  display: flex;
}

.form-outline {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 70%;
  margin: 0 5px;
  box-shadow: 0px 2px 5px -2px #f50000ce;
  text-shadow: 0 0 0 #040404bb;
  border-color: #dcdcdcfc;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.form-outline > input {
  color: black;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.radio-col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.High-p,
.Medium-p,
.Low-p {
  background-color: #ff9900;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
}

.Medium-p {
  background-color: #ffcc00;
}

.Low-p {
  background-color: #00ee00;
}

.add-task > .btn-grp > .btn {
  color: white;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  margin-left: 1rem;
  box-shadow: 0px 3px 10px black;
  cursor: pointer;
}
